<h2>Order Information</h2>

<% @order.carted_products.each do |carted_product| %>
<p><%= carted_product.product.name %>: <%= carted_product.quantity %> x <%= number_to_currency(carted_product.product.price) %></p>
<% end %>
<p>--------------------------------------</p>
<p>Subtotal: <%= number_to_currency(@order.subtotal) %></p>
<p>Tax: <%= number_to_currency(@order.tax) %></p>
<p>Total: <%= number_to_currency(@order.total) %></p>
