<div class="well well-lg">
  <h3> Product info: </h3>

  <p>name: <%= @product.name %></p>
  <p>brand: <%= @product.brand %></p>
  <p>supplier: <%= @product.supplier.name %></p>
  <p>description: <%= @product.description %></p>
  <p>price: <%= number_to_currency(@product.price) %></p>
  <p>tax: <%= number_to_currency(@product.tax) %> </p>
  <p>total: <%= number_to_currency(@product.total) %> </p>
  <p class="sale" ><%= @product.sale_message %> </p>

<!-- image carousel -->
<% @product.images.each do |image| %>
<img src="<%= image.url %>">
<% end %>
<!-- end of carousel -->


  <p><a href="/products/<%=@product.id%>/edit">Edit product info</a></p>
</div>
<%= form_tag "/products/#{@product.id}", method: :delete do %>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-danger">Delete</button>
    </div>
  </div>
<% end %>


<p><a href="/products/"> << Back to index</a></p>


