<p> gonna show a product gonna show a product </p>
  <p>name: <%= @product.name %></p>
  <p>brand: <%= @product.brand %></p>
  <p>description: <%= @product.description %></p>
  <p>price: <%= @product.price %></p>
<!--   <p>id: <%= @product.id %></p> -->
