<h3> Product info: </h3>
  <p>name: <%= @product.name %></p>
  <p>brand: <%= @product.brand %></p>
  <p>description: <%= @product.description %></p>
  <p>price: <%= @product.price %></p>

  <p><a href="/products/<%=@product.id%>/edit">Edit product info</a>
