<!DOCTYPE html>
<html>
  <head>
    <title>MiniCapstone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/products">The Bike Store</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/products">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="/products/random">Random Product</a></li>
      <li><a href="/products?section=sale">Discount Items</a></li>
      <% if current_user %>
      <li><a href="/logout">Log Out</a></li>
      <% else  %>
      <li><a href="/signup">Sign Up</a></li>
      <li><a href="/login">Log In</a></li>
      <% end %>
    </ul>
    <%= form_tag "/products", method: :get do %>
     <div class="col-lg-3">
       <div class="input-group">
         <input type="text" class="form-control" placeholder="Search for..." name="q"> 
         <span class="input-group-btn">
           <button class="btn btn-info" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
         </span>
       </div><!-- /input-group -->
     </div><!-- /.col-lg-6 -->
    <% end %>
  </div>
</div><!-- /.row -->
</nav>

<!-- user greeting for logged-in user -->
<% if session[:user_id] %>
Hi, <%= current_user.username %>
<% end %>

  <% flash.each do |name, message| %>
      <div class="alert alert-<%=name%>" alert-dismissable>
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <%=message%>
    </div>
  <% end %>
  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
